.pytest_cache
resources/data
scripts/**/*.pth
scripts/**/*.pkl
scripts/*.ipynb
scripts/**/*.py
scripts/**/*.ipynb
scripts/**/*.png
scripts/gifs/**/*.gif
scripts/models*
scripts/*setup*
scripts/evaluation
scripts/**/log*/
drake_scripts/**/*.png
drake_scripts/**/*.pkl
.ipynb_checkpoints
.idea
__pycache__
build
*.egg-info

**/solution/*.pkl
resources/ddp/*
!resources/ddp/*.pdf
!resources/ddp/*.tex
/src/manipulator_no_collision/data/